<div class="panel panel-default artist col-xs-6 col-md-3" artistId="{{artistId}}">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#artistAccordion" href="#collapse{{artistId}}">
        {{artist}}
      </a>
    </h4>
  </div>
  <div id="collapse{{artistId}}" class="panel-collapse collapse">
    <div class="panel-body">
      ArtistID: {{artistId}}
    </div>
  </div>
</div>