<div class="panel panel-default artist col-xs-6 col-md-3" artistId="{{artistId}}">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#artistAccordion" href="#collapse{{artistId}}">
        {{artist}}
      </a>
    </h4>
  </div>
  <div id="collapse{{artistId}}" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="input-group">
        <input type="url" class="form-control artistLinkInput" placeholder="Paste SoundCloud Link" artistId="{{artistId}}">
        <span class="input-group-btn">
          <button class="btnArtistLinkInput btn btn-mini btn-default" type="button" artistId="{{artistId}}">Add</button>
        </span>
      </div>
    </div>
  </div>
</div>